<div class="py-20 bg-blue-500" >
  <div class="container mx-auto px-6 min-h-[400px] flex justify-center items-center">
    <div class="text-center">
      <h2 class="text-4xl font-bold mb-4 text-white">
        DevFest Cali 2022
      </h2>
      <h3 class="text-xl mb-8 text-gray-200">
        Atrévete a vivir la experiencia del evento más grande de tecnología de los Grupos Google Developers en todo el mundo.
        En este evento aprenderás de tecnologías como Android, Web, Firebase, Flutter, GCP y muchas más, con expertos en el área.
      </h3>
      <button class="bg-yellow-500 text-white font-bold py-4 px-8 shadow-lg uppercase" >
        Reservar
      </button>
    </div>
  </div>
</div>