<nav>
  <div
    class="container mx-auto px-6 py-2 flex justify-between items-center"
  >
    <a class="font-bold text-2xl lg:text-4xl" href="#">
      GDG Cali
    </a>
    <div class="block">
      <ul class="inline-flex">
        <li class="flex justify-center items-center">
          <a class="block px-4 font-bold" href="/">Home</a>
        </li>
        <li class="flex justify-center items-center">
          <a class="block px-4 hover:text-gray-800" href="#">Posts</a>
        </li>
        <li class="flex justify-center items-center">
          <a class="block px-4 py-2 hover:bg-red-400 bg-red-500 text-white transition-all duration-150 uppercase" href="#">DevFest</a>
        </li>
      </ul>
    </div>
  </div>
</nav>