---
import Layout from '../layouts/Layout.astro';
import SpeakersSection from '../components/Home/SpeakersSection.astro';
---

<Layout title="Welcome to Astro.">
  <main>
    <SpeakersSection />

    <section class="mb-32 text-center py-24 bg-indigo-900">
      <h2 class="text-3xl font-bold mb-12 text-white">Reservar Entradas</h2>
    </section>
  </main>
</Layout>