---
import Speaker from "../Speaker";
---
<section class="mb-16 text-center py-24">
  <h2 class="text-3xl font-bold mb-12">Nuestros Speakers</h2>

  <div class="grid md:grid-cols-3 lg:gap-y-8">

    <Speaker name="Carlos Arboleda" image="/assets/carlos.jpg" job="Senior Engineer At EPAM"/>
    <Speaker name="Mayra Rodriguez" image="/assets/mayra.jpg" job="GDE"/>
    <Speaker name="Noe Branagan" image="/assets/noe.jpg" job="Engineer Manager"/>
    <Speaker name="Daniel Muñoz" image="/assets/daniel.jpg" job="Mobile Developer"/>
    <Speaker name="Julian Naranjo" image="/assets/julian.jpg" job="Cientifico de Datos"/>
    <Speaker name="Santiago Carrillo" image="/assets/carillo.jpg" job="CEO"/>

  </div>
</section>