<section class="mb-16 text-center py-24">
  <h2 class="text-3xl font-bold mb-12">Nuestros Speakers</h2>

  <div class="grid md:grid-cols-3 lg:gap-y-8">

    <div class="flex flex-col items-center">
      <div class="w-64 mb-4">
        <img class="rounded-full" src="/assets/carlos.jpg" alt="Carlos">
      </div>

      <h5 class="text-xl font-bold mb-2">Carlos Arboleda</h5>
      <span class="text-gray-500">
        Senior Engineer At EPAM
      </span>
    </div>

    <div class="flex flex-col items-center">
      <div class="w-64 mb-4">
        <img class="rounded-full" src="/assets/mayra.jpg" alt="Carlos">
      </div>

      <h5 class="text-xl font-bold mb-2">Mayra Rodriguez</h5>
      <span class="text-gray-500">
        GDE
      </span>
    </div>

    <div class="flex flex-col items-center">
      <div class="w-64 mb-4">
        <img class="rounded-full" src="/assets/noe.jpg" alt="Carlos">
      </div>

      <h5 class="text-xl font-bold mb-2">Noe Branagan</h5>
      <span class="text-gray-500">
        Engineer Manager
      </span>
    </div>

    <div class="flex flex-col items-center">
      <div class="w-64 mb-4">
        <img class="rounded-full" src="/assets/daniel.jpg" alt="Carlos">
      </div>

      <h5 class="text-xl font-bold mb-2">Daniel Muñoz</h5>
      <span class="text-gray-500">
        Mobile Developer
      </span>
    </div>

    <div class="flex flex-col items-center">
      <div class="w-64 mb-4">
        <img class="rounded-full" src="/assets/julian.jpg" alt="Carlos">
      </div>

      <h5 class="text-xl font-bold mb-2">Julian Naranjo</h5>
      <span class="text-gray-500">
        Cientifico de Datos
      </span>
    </div>

    <div class="flex flex-col items-center">
      <div class="w-64 mb-4">
        <img class="rounded-full" src="/assets/carillo.jpg" alt="Carlos">
      </div>

      <h5 class="text-xl font-bold mb-2">Santiago Carrillo</h5>
      <span class="text-gray-500">
        CEO
      </span>
    </div>

  </div>
</section>